*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
.contenedor_noticias{
    padding: 30px 0px;
}

.contenedor_noticias #h1{
    color: #222529;
    border-bottom: solid 3px #198764;
}
.contenedor_noticias p{
    color: #6C757D;
    text-align: justify;
}
/*Texto oculto*/
.contenedor_noticias #textos{
    display: none;
}

.contenedor_noticias h5 a{
    text-decoration: none;
    color: #464646;
    font-weight: bold;
}
.contenedor_noticias h5 a:hover{
    color: #198764;
    border-bottom: solid 2px #198764;
}


.contenedor_noticias #ver a{
    text-decoration: none;
    background-color: #198764;
    color: #F8F9FA;
    padding: 6px 30px;
}
.contenedor_noticias #ver a:hover{
    border-bottom: 1px solid;
    background-color: #6C757D;
    font-weight: bold;
}
/*.contenedor_noticias #ver a:link{
    color: #265301;
}
.contenedor_noticias #ver a:visited{
    color: #437A16;
}
.contenedor_noticias #ver a:focus{
    border-bottom: 1px solid;
    background: #BAE498;
}
.contenedor_noticias #ver a:active{
    background: #265301;
    color: #265301;
}
*/
.contenedor_noticias .sombra{
    box-shadow: 2px 2px 5px #999;
    padding: 10px 20px;
    margin: 10px 2px;
    transition: 0.2s ease-in;
}

/*      Paginación      */
.contenedor_noticias .color_a a{
    color: #F8F9FA;
    background-color: #198764;
}

/* Entradas Recientes*/
.contenedor_noticias .entrada, #hh4{
    padding: 5px 20px;
}
.contenedor_noticias .up li{
    list-style: none;
    border-bottom: solid 3px rgb(235, 229, 229);
    margin: 10px 0;
}
.contenedor_noticias .up a{
    outline: none;
    text-decoration: none;
    color: #464646;
}
.contenedor_noticias .up a:hover{
    color: #198764;
    border-bottom: solid 1px #198764;
}
.contenedor_noticias .up span{
    color: #6C757D;
    display: block;
}


/*Imagen de evento*/
.contenedor_noticias img{
    display: block;
    width: 90%;
    height: 220px;
    margin: auto;
    border-radius: 6px;
    text-align: center;
    box-shadow: 2px 2px 5px #999;
}
.contenedor_noticias img:hover{
    filter: brightness(95%);
    width: 98%;
    height: 230;
}
.contenedor_noticias i{
    color: #0d6efd;
    font-size: 20px;
    margin: 5px 10px;
}